* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


:root {
  scroll-behavior: smooth;
}

/* NAVBAR MIDLE */
.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 9999;
  box-sizing: border-box;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.phone {
  display: none;
}

.nav.detil.light {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.nav.detil.light a {
  background-color: transparent;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
}

.nav.detil.light a {
  color: white;
}

.nav a {
  color: white;
}

.nav.check a {
  background-color: white;
  color: #000000;
}

.nav:nth-child(1) {
  z-index: 9;
}

.right-nav a {
  text-decoration: none;
  position: relative;
  padding: 0;
  margin: 0 30px;
  cursor: pointer;
}

.nav.detil h3 {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  margin-top: 10px;
}

.right-nav a:hover {
  color: #a7a6a6;
}

.left-side {
  display: none;
}

.left-nav {
  display: none;
}

.logo.light {
  color: white;
}

.logo.light.check {
  background-color: transparent;
}

#mode {
  background-color: transparent;
  height: 50px;
  width: 50px;
  z-index: 99999;
  border: transparent;
  margin-top: 10px;
  cursor: pointer;
}

#mode img {
  width: 40px;
}

.light.check {
  background-color: white;
  color: black;
}

.light.blue {
  color: #74b0ff;
}

.lightTheme {
  background-color: white;
  color: #000000;
}

.wrap {
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  max-height: 700px;
  position: relative;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  background: #252525;
  color: white;
  transition: 0.3s;
  padding: 0;
}



.bio-text {
  font: 16px "Fira Code";
  font-weight: 100;
}

.label p.bio-text.light.check {
  background-color: transparent;
}

.c-1 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 40%;
  height: 100%;
  /* background-color: #74b0ff; */
  margin: auto;
  position: relative;
  padding-left: 40px;
  justify-content: center;
}

.click-me {
  width: 150px;
  padding: 7px 10px;
  margin-top: 30px;
  left: 0px;
  background-image: linear-gradient(to right, #77f3ab, #a4ffca);
  border-style: none;
  border-radius: 70px;
  border: 1px solid white;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  color: black;
  transition: 0.3s;
}

.click-me:hover {
  transition-duration: 0.5s;
  background-color: transparent;
}

.click-me.light.check:hover {
  background-color: transparent;
  color: black;
}

.click-me.light.check {
  background-image: linear-gradient(to right, #76b1fe, #8ebfff);
  border: 1px solid grey;
}


.textLoad {
  overflow: hidden;
}

.textLoad .text {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 50px;
  font-weight: 600;
  position: relative;
}

.textLoad .secText {
  color: chocolate;
}

.secText.light.check {
  color: #74b0ff;
}

.secText::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #252525;
  border-left: 4px solid white;
  transition: 0.3s;
  animation: animate 4s steps(12) infinite;
}

.secText.check::before {
  background-color: white;
  border-color: black;
}

@keyframes animate {

  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.c-2 {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  /* background-color: rgb(161, 161, 161); */
  overflow: hidden;
}

.c-2 img {
  width: 600px;
  height: auto;
  position: relative;
  transform: translate(80px, 130px);
}

.c-2 .before {
  position: absolute;
  top: 100px;
  left: 180px;
  width: 400px;
  height: 400px;
  z-index: 10;
  border-radius: 50%;
  background-image: linear-gradient(to right, #1c1c1c, #252525);
}

.c-2 .before.light.check {
  background-image: linear-gradient(to right, #8ebfff, #fff);
}


.floating {
  display: flex;
  position: absolute;
  top: 420px;
  left: 350px;
  margin: auto;
  z-index: 999;
}

.label p.light.check {
  background-image: linear-gradient(to right, #76b1fe, #8ebfff);
}


.label p {
  box-shadow: 3px -2px 1px white;
  background-image: linear-gradient(to right, #77f3ab, #a4ffca);
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding: 4px;
}

.t-1 {
  left: 60px;
  top: -100px;
  position: relative;
}

.t-2 {
  left: -200px;
  top: -50px;
  position: relative;
}

.t-3 {
  top: 20px;
  left: 0px;
  position: relative;
}

.bio {
  display: flex;
  width: 100%;
  height: 75vh;
  /* max-height: 50vh; */
  background-color: #202020;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s;
}

.bio.light.check p {
  color: #000000;
  background-color: #e4f0ff;
}

.bio.light.check {
  background-color: #e4f0ff;
  color: #000000;
}

.name.light {
  background-color: transparent;
  color: chocolate;
  transition: 0.3s;
}

.name.light.check {
  color: #74b0ff;
}

.bio h1.light {
  background-color: transparent;
  transition: 0.3s;
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.text p {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.skill,
.project {
  position: relative;
  font: 15px "Montserrat";
  color: chocolate;
  font-size: larger;
  top: -50px;
  /* margin: auto; */
}

/* myskill */

.myskill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
  height: 70vh;
  background-color: #181717;
  background-image: url(ICON/bubble-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.myskill.light.check {
  background-color: white;
  background-image: url(ICON/bubble-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.its-me {
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.3s;
  margin: 100px auto 70px auto;
}

.its-me.light.check {
  background-color: transparent;
}

/* .container {
  display: flex;
} */

* {
  color: white;
}

.card-skill.light {
  background-color: #393939;
  border: none;
  transition: 0.3s;
  width: 85px;
  height: 85px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 60%;
  height: 20%;
  justify-content: space-between;
}

.card-skill.light:hover {
  background-color: chocolate;
  transition-duration: 0.2s;
  cursor: pointer;
}

.card-skill.light.check {
  background-color: #cee3ff;
}

.card-skill.light.check:hover {
  background-color: #74b0ff;
  transition-duration: 0.2s;
  cursor: pointer;
}

.card-title.light {
  color: white;
}

.card-title.light.check {
  color: black;
}

.card-title.light.check,
.card-text.light.check {
  background-color: transparent;
}

.card-skill.light img {
  width: 60px;
}

.card-skill.light .figma {
  width: 30px;
}

.exp {
  width: 100%;
  /* height: auto; */
  min-height: auto;
  background-color: #202020;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
}

.exp.light.check {
  background-color: #cddff8;
}

.my-projects {
  width: 80%;
  /* background: #000;   */
  height: 200vh;
  margin: 100px auto auto auto;
}

.detil-projects {
  width: 100%;
}

.project-judul {
  width: 80%;
}

.project-bio,
.project-img {
  width: 50%;
  height: 500px;
}

.project-sub {
  padding: 10px 15px;
  width: max-content;
  border: 1px;
  font: 12px "Montserrat";
  font-weight: 600;
  background-color: #b1d182;
  border-radius: 40px;
  color: black;
}

.project-img img {
  width: 40vw;
}

button.btn-project {
  width: 200px;
  height: 40px;
  font: 13px "Montserrat";
  color: white;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 600;
}

.nav-project {
  left: 0;
  right: 0;
  margin: auto;
}

.my-design {
  display: flex;
}

/* .project-btn:active {
  color: red;
}
.project-btn:focus {
  color: red;
}
.project-btn:target {
  color: red;
} */

.btn-nav-project {
  background-color: transparent;
  border: 1px solid chocolate;
  padding: 10px;
}

.btn-nav-active {
  background-color: chocolate;
  padding: 10px 15px;
  border: none;
}

/* ============================================= */
.contact {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #2e2e2e;
  margin: auto;
  box-sizing: border-box;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  color: white;
  background-color: transparent;

  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

input[type="email"] {
  border-radius: 10px;
  padding: 10px;
  width: 240px;

  color: white;
  background-color: transparent;
  box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

input[type="submit"] {
  padding: 13px;
  background-color: rgb(19, 18, 18);
  border-radius: 9px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transform: translate(0, -1px);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#float-nav {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
  padding: 20px;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 200px;
}

.bubble {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: auto;
  cursor: pointer;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bubble.light.check {
  background-color: black;
}

.br {
  color: black;
}

.br.light.check {
  color: white;
  background-color: black;
}

@media (max-width: 768px) {
  header {
    background-color: transparent;
  }

  .nav {
    position: absolute;
    z-index: 99;  
    height: 100vh;
    width: 0;
  }

  .nav.detil {
    display: none;
  }

  /* NAVBAR LEFT */

  #mode img {
    width: 40px;
    height: 40px;
  }

  .light.phone {
    display: flex;
    z-index: 99999;
    position: absolute;
    bottom: 100px;
    width: 100px;
    top: -8px;
    left: 100px;
    height: 100px;
    background-color: rebeccapurple;
  }

  .left-nav {
    display: flex;
    left: -70vw;
    background-color: #252525;
    width: 220px;
    box-sizing: border-box;
    box-shadow: 1px 0 30px black;
    transition: 0.3s;
    z-index: 99;
    width: 200px;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    border-bottom: 1px solid white;
  }

  .left-nav.open {
    display: flex;
    left: 0;
  }

  .left-nav a {
    position: relative;
    padding: 19px;
    top: 100px;
    height: auto;
    width: 100%;
    color: #fff;
    text-align: left;
    text-decoration-line: none;
    background-color: transparent;
  }

  .left-nav a.light.check {
    background-color: transparent;
  }

  .left-nav a.light.check:hover {
    background-color: #74b0ff;
    color: white;
  }

  .left-nav a.light.check:hover>i {
    color: white;
  }

  .left-nav.open a i {
    background-color: transparent;
  }

  .left-nav.open a:hover {
    background-color: #fffffe;
    color: #000000;
  }

  .left-nav.open a:hover>i {
    color: #000000;
  }

  .nav-left-btn {
    display: flex;
    height: 70px;
    padding: 20px;
    position: fixed;
    z-index: 999;
  }

  .left-side.active {
    display: inline-block;
    cursor: pointer;
    margin: auto;
    padding: 4px;
    border-collapse: collapse;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 99;
    background-color: transparent;
  }

  .left-side.active.fix {
    position: fixed;
    color: white;
  }

  .black.black-active {
    background-color: #000000;
  }

  .black {
    background-color: white;
    width: 28px;
    display: flex;
    width: 28px;
    margin: 6px;
    height: 3px;
    border-radius: 100px;
    position: relative;
  }

  .left-side.active.light.check.blue.blue-active li::after {
    background-color: #74b0ff;
  }

  .left-side.active.light.check li::after {
    content: " ";
    background-color: black;
  }

  .left-side.active.fix.check li::after {
    content: " ";
    background-color: white;
  }

  .left-side.active:hover :nth-child(1) {
    transform: translate(0px, 9px) rotate(40deg);
    transition: 0.1s;
  }

  .left-side.active:hover :nth-child(2) {
    opacity: 0;
    transition: 0.1s;
  }

  .left-side.active:hover :nth-child(3) {
    transform: translate(0px, -9px) rotate(-40deg);
    transition: 0.1s;
  }

  .left-side.active.fix :nth-child(1) {
    transform: translate(0px, 9px) rotate(40deg);
  }

  .left-side.active.fix :nth-child(2) {
    opacity: 0;
  }

  .left-side.active.fix :nth-child(3) {
    transform: translate(0px, -9px) rotate(-40deg);
  }

  /* BODY */
  .wrap {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* height: 100vh; */
  }

  /* .hero {
    height: 120vh;
    width: 100%;
  } */

  .c-2 {
    width: 100%;
    height: 700px;
    max-height: 500px;
    position: relative;
    background-color: #202020;  
    margin: auto;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .c-2.light.check {
    background-color: #8ebfff;
  }

  .c-2 .before {
    left: 50px;
    top: 50px;
    width: 200px;
    height: 200px;
  }

  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .c-2 img {
    position: relative;
    width: 300px;
    left: -80px;
    transform: translate(80px, 50px);
  }

  .floating {
    top: 230px;
    left: 100px;
  }


  .label .t-1,
  .label .t-2,
  .label .t-3 {
    padding: 4px;
  }

  .t-1 {
    left: -100px;
  }

  .label p {
    font-size: 10px;
  }

  .c-1 {
    /* min-width: 80%; */
    width: 90%;
    height: 500px;
    max-height: 500px;

    top: 50px;
    padding: 0;
    justify-content: start;
  }

  .c-1 p {
    top: 0px;
    position: relative;
  }


  .c-1 p {
    text-align: left;
    left: 0px;
  }

  .c-1 .textLoad {
    text-align: left;
    left: 0px;
  }

  .label p {
    font-size: 9px;
  }

  .label .t-1{
    left: 80px;
    top: -80px;
    padding: 3px;
  }

  .label .t-2 {
    left: -75px;
    top: -80px;
    padding: 3px;
  }

  .label .t-3 {
    left: 50px;
    top: -50px;
  }


  .click-me {
    width: 130px;
    font-size: 13px;
    height: 40px;
    position: relative;
    left: 0px;
    top: 80px;
  }



  .bio {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 700px;
  }

  .me {
    width: 100%;
  }

  .text p {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .bioText {
    text-align: left;
  }

  .bio-text {
    font-size: 13px;
  }

  .textLoad {
    height: 200px;
    position: absolute;
  }

  .textLoad .text {
    font-size: 28px;
    top: -10px;
  }



  .secText::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #252525;
    border-left: 4px solid white;
    animation: animate 4s steps(12) infinite;
  }

  .secText.check::before {
    background-color: white;
    border-color: black;
  }

  @keyframes animate {

    40%,
    60% {
      left: 100%;
    }

    100% {
      left: 0%;
    }
  }

  .hero.scd {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    margin: auto;
  }

  .hero.scd .hero-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .myskill {
    height: 50vh;
    min-height: 450px;
    padding-top: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    top: 0;
  }

  .row {
    gap: 20px;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: start;
  }

  .card-skill.light {
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
  }

  .card-skill.light .figma {
    width: 15px;
  }

  .card-skill.light img {
    width: 20px;
  }

  /* contact */
  .contact {
    box-sizing: border-box;
  }

  form {
    min-width: 100%;
  }

  #float-nav {
    position: relative;
    flex-direction: row;
    background-color: #202020;
    width: 100%;
    height: 300px;
    top: 0;
    margin: auto;
    justify-content: center;
    padding: 0;
  }

  .bubble {
    margin: 30px;
    left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1239px) {
  /* .container {
    grid-template: 200px / auto auto;
    row-gap: 110px;
  } */

  /* .hero {
    height: auto;
  } */

  .wrap {
    flex-direction: column-reverse;
    height: 800px;
    min-height: 800px;
    /* min-width: 1470px; */
    width: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    /* overflow: hidden; */
  }

  .c-2 {
    width: 100%;
    height: 900px;
    top: 0;
    background-color: #202020;
    position: relative;
    /* margin-top: 0px; */
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .c-2.light.check {
    background-color: #8FC0FF;
  }

  .c-2 img {
    position: relative;
    width: 300px;
    left: -80px;
    transform: translate(80px, 50px);
  }

  .t-1{
    top: -80px;
    left: 100px;
  }

  .t-2 {
    left: -130px;
    top: -70px;
  }

  .label .t-3{
    top: -50px;
    left: 60px;
  }

  .c-2 .before {
    left: 0;
  }

  .floating {
    left: 140px;
    top: 400px;
  }

  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c-2 img {
    position: relative;
    width: 500px;
    left: -130px;
    top: 50px;
  }

  .floating {
    display: flex;
    position: absolute;
    top: 350px;
    left: 150px;
    margin: auto;
    z-index: 999;
  }

  .label p {
    font-size: 14px;
  }

  p.t-3 {
    top: -100px;
  }

  .c-1 p,
  .c-1 h1 {
    /* min-width: 400px; */
    height: 50px;
    padding: 0;
    position: relative;
    margin: auto;
    text-align: left;
  }

  .c-1 p.bio-text {
    font-size: 20px;
  }

  .c-1 :nth-child(2),
  .c-1 .wb {
    margin: 10px;
  }

  .c-1 {
    width: 700px;
    box-sizing: border-box;
    max-height: 900px;
    padding: 20px;
    position: relative;
    /* flex-direction: column-reverse; */
    /* bottom: 0; */
    margin: auto;
    justify-content: flex-start;
  }

  .click-me {
    position: relative;
    left: -20px;
    bottom: 0px;
    font-size: 19px;
    z-index: 9999;
    width: 160px;
    height: 50px;
  }


  .container {
    top: 0;
  }

  .bio {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
    max-height: 700px;
  }

  .me {
    width: 80%;
  }

  .text p {
    text-align: left;
  }

  .textLoad {
    height: 200px;
    left: -10px;
    top: 40px;
    /* top: 130px; */
    margin: 0;
    position: relative;
  }

  .textLoad .text {
    font-size: 55px;
    margin-bottom: 30px;
  }

  .hero-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .row {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
  }

  .myskill {
    max-height: 500px;
  }

  .card-skill.light {
    width: 70px;
    height: 70px;
    margin: 0 10px;
  }

  .card-skill.light .figma {
    width: 20px;
  }

  .card-skill.light img {
    width: 40px;
  }
}